<div class="profile-page">
    <div class="profile-page__side">
        {{{ backButton }}}
    </div>

    <div class="profile-page__body">
        <div class="profile-page__body-wrapper">
            {{{ avatar }}}

            <span class="profile-page__name">
                {{ name }}
            </span>

            {{{ userInfo }}}
            {{{ actions }}}
        </div>
    </div>
</div>