<div class="profile-item {{ className }}">
    <span class="profile-item__label">{{ label }}</span>

    {{#if editable }}
        {{{ input }}}
    {{else}}
        <span class="profile-item__value">{{ value }}</span>
    {{/if}}
</div>
